.idea/
.vscode/
api/
__pycache__/
*.gif
*.avi
*.mp4
*.npy
*.mat
/example_scripts/out_*.json
example_scripts/testing/
example_scripts/output/
example_scripts/Toolkits/Angle_Of_Arrival_Visualization/sample_data/
**/output/
example_scripts/internal/
*.proto
/models/Helsinki/
/models/Helsinki_64Tiles.zip
/models/CMU_Database/
/models/benchmark_town02.stl
cache/
!example_scripts/models/webcam_demo.mp4
.ignore_for_external
*.egg-info/
build/
dist/
*.egg