numpy==1.26.4
scipy
matplotlib
Pillow==10.4.0
opencv-python
#ffmpeg
vtk==9.3.1
pyvista==0.44.1
imageio-ffmpeg
imageio
tqdm
netCDF4
scikit-image
pyargus
pycollada
ipykernel
mitsuba
utm
python-srtm
SRTM.py
osmnx
usd-core
protobuf
geopandas
rasterio
h5py
PySide6
pyvistaqt
pandas
# mediapipe # only needed for web-cam based radar demo